body {
  background-color: aquamarine;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
footer a {
  color: blueviolet;
  margin: 0 10px;
}
img {
  display: block;
  border: 1px solid blue;
  border-radius: 4px;
}
footer {
  text-align: center;
}
